/* Default settings */


:root {
    --main-color: #212121;
    --accessory-color: #FFFFFF;
    --hover-color: #2196F3;
    --buttons-hover-color: #188CE8;
    --contacts-color: #757575;
    --background-color: #2F303A;
    --logo-color: #000000;
    --adress-color: rgba(255, 255, 255, 0.6);
    --social-media-color: #AFB1B8;
    --social-fill-color: #2196F3;
    --footer-social-color: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Reset */


h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}


/* Header */

.page-header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    align-items: center;
    display: flex;
}

.logo {
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    outline: none;
    color: var(--logo-color);
}

.logo-span {
    color: var(--hover-color)
}

.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-list li:not(:last-child) {
    margin-right: 50px;
}

.navigation-item:focus,
.navigation-item:hover {
    color: var(--hover-color);
}


.contacts-list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.contacts-list li {
    display: flex;
}

.contacts-list li:not(:first-child) {
    margin-left: 50px;
}


.navigation-item {
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
}

.contacts-item {
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--contacts-color);
}


.active {
    color: var(--hover-color)
}


.icon {
    display: block;
    margin: auto;

}

.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--contacts-color);
}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--contacts-color);
}

.contacts-list>li:hover a {
    color: var(--hover-color);
}

.contacts-list>li:hover .icon-mail {
    fill: var(--hover-color);
}

.contacts-list>li:hover .icon-phone {
    fill: var(--hover-color);
}

/* Main index.html */

/* Hero */

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accessory-color);
}

.hero-button {
    padding: 10px 32px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accessory-color);
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: transparent;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--buttons-hover-color);
}


/* Features */


.features-list {
    list-style: none;
    display: flex;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-item {
    width: calc((100%-90px)/4);
}

.features-subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
}

.features-icon {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
}

.antenna {
    width: 65px;
    height: 70px;
}

.clock {
    width: 67px;
    height: 70px;
}

.diagram {
    width: 70px;
    height: 54px;
}

.astronaut {
    width: 70px;
    height: 70px;
}


/* About  */

.about {
    padding-bottom: 94px;
}

.about-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.about-list {
    list-style: none;
    display: flex;
}

.about-list li:not(:last-child) {
    margin-right: 30px;
}


/* Team */

.team {
    background-color: #F5F4FA;
}

.team-list {
    list-style: none;
    display: flex;
}

.team-list>li {
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-list li:not(:last-child) {
    margin-right: 30px;
}

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.member-photo {
    margin-bottom: 30px;
}

.member-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.member-job {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
}

.icons-social-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.icons-social-list li:not(:last-child) {
    margin-right: 10px;
}

.icon-social {
    width: 20px;
    height: 20px;
    fill: var(--social-media-color);
    margin: auto;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-link:hover .icon-social {
    fill: var(--accessory-color)
}

.social-link:hover {
    background-color: var(--social-fill-color);
}


/* Clients */


.clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}


.clients-list {
    list-style: none;
    display: flex;
    justify-content: space-between;


}


.clients-item a {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

}

.clients-item a:focus .icon-client,
.clients-item a:hover .icon-client {
    fill: var(--social-fill-color);
}

.clients-item:hover a {
    border: 1px solid var(--social-fill-color);
}


.icon-client {
    margin: auto;
    fill: var(--social-media-color);
}


.company1 {
    width: 41px;
    height: 47px;
}


.company2 {
    width: 40px;
    height: 52px;
}

.company3 {
    width: 43px;
    height: 41px;

}

.company4 {
    width: 84px;
    height: 40px;

}

.company5 {
    width: 62px;
    height: 45px;
}

.company6 {
    width: 94px;
    height: 44px;
}



/* Main portfolio.html */

/* Filter */


.filter-list {
    margin-bottom: 50px;

    list-style: none;
    display: flex;
    justify-content: center;
}

.filter-list li:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}



.filter-button:focus,
.filter-button:hover {
    color: var(--accessory-color);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* Product */

.product-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}


.product-list {
    gap: 30px;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.product-list li {
    background: #fff;
}

.product-list li:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-item {
    text-decoration: none;

}

.product-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
}

/* Footer */


.page-footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accessory-color);
    text-decoration: none;
}

.footer-list {
    list-style: none;
}

.footer-list li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--accessory-color);
    text-decoration: none;
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    text-decoration: none;
}

.footer-contacts:focus,
.footer-contacts:hover {
    color: var(--hover-color);
}

.footer-container {
    display: flex;
    gap: 70px;
}

.footer-social {
    padding-top: 12px;
}

.footer-social-list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.footer-social-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accessory-color)
}

.footer-icon-social {
    width: 20px;
    height: 20px;
    fill: var(--accessory-color);
    margin: auto;
}

.footer-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-social-color);
}

.footer-social-link:hover {
    background-color: var(--hover-color);
}